body {
  background: #cfcbe6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100%;
}

header {
  height: 120px;
  width: 100%;
  background: #6C69BD;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .SignInRegister_Button {
  height: 42px;
  width: 152px;
  background: #FFFFFF;
  border-radius: 7px;
  border: 0;
  font-family: "Inria Serif";
  font-size: 13px;
  position: absolute;
  right: 46px;
}
header .SignInRegister_Button:hover {
  background: #D9D9D9;
}
header .Title {
  position: absolute;
  color: #FFFFFF;
  font-family: "Inria Serif";
  font-size: 48px;
  font-weight: 375;
  left: 46px;
  text-decoration: none;
}
@media only screen and (max-width: 425px) {
  header .Title {
    font-family: "Inria Serif";
    font-size: 38px;
  }
}

.MainContent {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .MainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.MainContent .Menu {
  background: #FFFFFF;
  height: fit-content;
  width: 443px;
  padding: 8px;
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 10px;
}
@media only screen and (max-width: 1024px) and (min-width: 767px) {
  .MainContent .Menu {
    height: fit-content;
    width: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .MainContent .Menu {
    height: fit-content;
    width: 300px;
  }
}
.MainContent .Menu .RecipeList {
  font-family: "Inria Serif";
  padding-left: 25px;
}
.MainContent .Menu .Line {
  height: 1px;
  margin-left: 10px;
  margin-right: 10px;
  background: #D9D9D9;
}
.MainContent .Menu .Default {
  margin-left: 25px;
}
.MainContent .Menu .Item {
  margin-right: 20px;
  height: fit-content;
  width: 443px;
  height: fit-content;
  display: flex;
}
.MainContent .Options {
  display: flex;
  flex-direction: column;
  gap: 33px;
  margin-top: 30px;
  margin-left: 10vh;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .MainContent .Options {
    margin-left: 7vh;
  }
}
@media only screen and (max-width: 768px) {
  .MainContent .Options {
    margin-left: 0px;
    flex-direction: row;
    gap: 8px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  .MainContent .Options {
    gap: 6px;
  }
}
@media only screen and (max-width: 425px) {
  .MainContent .Options {
    gap: 6px;
    flex-direction: column;
  }
}
.MainContent .Options .Option {
  height: 100px;
  width: 443px;
  border-radius: 15px;
  border: 0;
  background-color: #FBFBFB;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Inria Serif";
  font-size: 48px;
  font-weight: 380;
  text-decoration: none;
  color: #000000;
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .MainContent .Options .Option {
    height: 90px;
    width: 300px;
    font-family: "Inria Serif";
    font-size: 35px;
  }
}
@media only screen and (max-width: 768px) and (min-width: 426px) {
  .MainContent .Options .Option {
    height: 40px;
    width: 90px;
    font-family: "Inria Serif";
    font-size: 15px;
  }
}
@media only screen and (max-width: 425px) {
  .MainContent .Options .Option {
    height: 50px;
    width: 300px;
    font-family: "Inria Serif";
    font-size: 15px;
  }
}
.MainContent .Options .Option:hover {
  background-color: #D9D9D9;
}

.modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
  width: 800px;
  padding-left: 40px;
  padding-top: 20px;
  background-color: #422878;
  border-radius: 10px;
}
.modal .ModalTitle {
  text-align: center;
  font-family: "Inria Serif";
  font-size: 40px;
  color: #D3D3D3;
}
.modal .ModalForm {
  display: flex;
  flex-direction: column;
  padding-right: 40px;
  gap: 20px;
}
.modal .SwitchModal {
  text-align: center;
  font-family: "Inria Serif";
  font-size: 15px;
  color: #D3D3D3;
}
.modal .SwitchModal .ChangeModal {
  background: none;
  border: 0px;
  padding: 0px;
  font-family: "Inria Serif";
  font-size: 15px;
  color: #007be5;
  cursor: pointer;
  text-decoration-line: underline;
}
.modal .submit {
  height: 30px;
  width: 200px;
  margin: auto;
  border-radius: 7px;
  border: 0;
  cursor: pointer;
}
.modal .field {
  height: 30px;
  width: 400px;
  margin: auto;
}
.modal .close {
  font-size: 40px;
  position: absolute;
  color: #D3D3D3;
  cursor: pointer;
}/*# sourceMappingURL=App.css.map */