@import 'variables';
@import 'config';

body {
    background: $background_color;
    margin: 0;
    padding: 0;
}

header{
    @include setSize(120px, 100%);
    background: $top_color;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .SignInRegister_Button {
        @include setSize(42px, 152px);
        background: $white;
        border-radius: 7px;
        border: 0;
        @include textStyle(13px);

        position: absolute;
        right: 46px;

        &:hover {
            background: $gray;
        }
    }

    .Title {
        position: absolute;
        color: $white;
        @include textStyle(48px);
        font-weight: 375;
        left: 46px;
    }
}

.MainContent {
    display: flex;
    gap: 220px;

    .Menu {
        background: $white;
        @include setSize(fit-content, 443px);
        padding: 8px;
        margin-top: 20px;
        margin-left: 150px;
        border-radius: 5px;

        .RecipeList {
            font-family: "Inria Serif";
            padding-left: 25px;
        }
        
        .Line {
            height: 1px;
            margin-left: 10px;
            margin-right: 10px;
            background: $gray;
        }

        .Default {
            margin-left: 120px;
        }

        .Item {
            margin-right: 20px;
            @include setSize(fit-content, 443px);
            height: fit-content;
            display: flex;
        }
    }

    .Options {
        display: flex;
        flex-direction: column;
        gap: 33px;
        margin-top: 30px;

        .Option {
            @include setSize(100px, 443px);
            border-radius: 15px;
            border: 0;
            background-color: $button_color;

            @include textStyle(48px);
            font-weight: 380;

            &:hover {
                background-color: $gray;
            }
        }
    }
}

.modal {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    @include setSize(400px, 800px);
    padding-left: 40px;
    padding-top: 20px;
    background-color: $dark_gray;
    border-radius: 10px;
    .SignTitle {
        text-align: center;
        @include textStyle(40px);
    }

    .SignInForm {
        display: flex;
        flex-direction: column;
        padding-right: 40px;
        gap: 20px;
    }

    .NotYetReg {
        text-align: center;
    }

    .submit {
        @include setSize(30px, 200px);
        margin: auto;
        border-radius: 7px;
        border: 0;
    }

    .field {
        @include setSize(30px, 400px);
        margin: auto;
    }

}